<%=  %>

<%

@students = []
@failed_students = []
@enrolments = []

require 'CSV'

f = File.open(@file_path)
@course = Course.where(:module_id => @course_id).first
if @course.blank?
	Course.create(:module_id => @course_id, :module_name => @course_id)
	%><%= "A module with module code" + @course_id + "and name" + course_id + " was created, you can change this name later if you wish"  %><%
else
	%><%= "The following changes were made to #{@course.module_name} with id #{@course_id}:" %><%
end



id_pos = CSV.read(f.path)[0].index("Student_ID")

CSV.foreach(f.path, headers: true) do |row|

	new_hash = {}
  		row.to_hash.each_pair do |k,v|
   		new_hash.merge!({k.downcase => v}) 
  	end
	student = Student.new new_hash

	if Student.where(:student_id => student.student_id).blank?
		@students.push(student)
		student.save
	else
		if student.student_id.blank?
			@failed_students.push(student)
		end
	end


	if Enrolment.where(:student_id => row[id_pos], :module_id => @course_id).blank?
		enrolment = Enrolment.create(:student_id => row[id_pos], :module_id => @course_id)
		@enrolments.push(enrolment.student_id)
	end

end

%>
<ul>
	<% if !@failed_students.empty? %>
		<li>
			<%= "WARNING! The following students could not be added due to not having a Student Number, click here to add them" %>
			<table>
				<tr><td>Surname</td><td>Firstname</td></tr>
				<% @failed_students.each do |student| %>
					<tr><td><%= student.surname %></td><td><%= student.firstname %></td></tr>
				<% end %>
			</table>
		</li>
	<% end %>
	<li>
		<% if !@students.empty? %>
			<%= "The following students were added:" %>
			<table>
				<tr><td>Surname</td><td>Firstname</td></tr>
				<% @students.each do |student| %>
					<tr><td><%= student.surname %></td><td><%= student.firstname %></td></tr>
				<% end %>
			</table>
		<% else %>
			<%= "No new students were added, this means that they have already been added to the system." %>
		<% end %>
	</li>
	<li>
	<% if !@enrolments.empty? %>
		<%= "The following students were enroled in #{}:" %>
		<table>
			<tr><td>Surname</td><td>Firstname</td></tr>
			<% Student.where(:student_id => @enrolments).each do |student| %>
				<tr><td><%= student.surname %></td><td><%= student.firstname %></td></tr>
			<% end %>
		</table>
	<% else %>
		<%= "No new enrolments were created, was the file you uploaded empty? Or perhaps had already been uploaded" %>
	<% end %>
	</li>
</ul>
