<p id="notice"><%= notice %></p>

<!--SHOW STUDENTS BY MODULE FORM -->
<% if !@modules.blank? %>
			<% if @userChoice == "module" %>
				<p>Please choose a module</p>
				<%= form_tag("showStudentsByModule") do %>
				 <table align="center">
				    <tr>
				      <th>Module</th>
				    </tr>
				     <tr>
				    <td><%= collection_select :collection, :id, @modules, :id,:module_name %></td>
				   </tr>
				   </table>
				   <%= hidden_field_tag :id, "module" %>
				  <%= submit_tag "View Students" %>
				<% end %>

			<% elsif @userChoice == "session" %>
				<% @moduleChosen = params[:moduleChosen]
					if @moduleChosen == "false" || @moduleChosen.blank?	%>
					<p>Please choose a module</p>
					
					<%= form_tag("#") do %>
					 <table align="center">
					    <tr>
					      <th>Module</th>
					    </tr>
					     <tr>
					    <td><%= collection_select :module, :id, Course.all, :id,:module_name %></td>
					   </tr>
					   </table>
					   <%= hidden_field_tag :moduleChosen, "true" %>
					  <%= submit_tag "Next" %>
					<% end %>
					<% end %>	
				<% if @moduleChosen == "true" %>
					<% @module = params[:module][:id]
					   @sessions = Session.where(module_id: @module)
					%>
					<p>Please choose a session</p>

					<%= form_tag("showStudentsByModule") do %>
					 <table align="center">
					    <tr>
					      <th>Session</th>
					    </tr>
					     <tr>
					    <td><%= collection_select :collection, :id, @sessions, :id,:date %></td>
					   </tr>
					   </table>
					   <%= hidden_field_tag :id, "session" %>
					  <%= submit_tag "View Students" %>
					<% end %>
				<% end %>

			<% elsif @userChoice == "attendance" %>
			    <p>Please choose a module</p>
				<%= form_tag("showStudentsByModule") do %>
				 <table align="center">
				    <tr>
				      <th>Module</th>
				    </tr>
				     <tr>
				    <td><%= collection_select :collection, :id, @modules, :id,:module_name %></td>
				   </tr>
				   </table>
				   <%= hidden_field_tag :id, "attendance" %>
				  <%= submit_tag "View Sessions" %>
				<% end %>
			<% end %>
<% else %>
			<p> There are no modules on the database </p>
<% end %>






