<!DOCTYPE html>
<html>
<head>
  	<title>Websystem</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

   <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'WEB LEARNING SYSTEM', {:controller => 'pages', :action => 'index'}, :class => "navbar-brand"%>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Students<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View by module', {:controller => 'pages', :action => 'chooseModule', id: "module"} %></li>
            <li><%= link_to 'View by Session', {:controller => 'pages', :action => 'chooseModule', id:"session"} %> </li>
            <li><%= link_to 'View all Students', {:controller => 'students', :action => 'index'} %> </li>
            <li><%= link_to 'Create a new Student', {:controller => 'students', :action => 'new'} %> </li>            
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Enrolments<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View by module', {:controller => 'pages', :action => 'chooseModule', id: "module"} %></li>
            <li><%= link_to 'Enrol a Student', {:controller => 'enrolments', :action => 'new'} %> </li>     
            <li><%= link_to 'Upload via CSV', {:controller => 'enrolmentcsvs', :action => 'enrolments_upload'} %> </li>     
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Modules<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'List all Modules', {:controller => 'courses', :action => 'index'} %></li>
            <li><%= link_to 'Create a new Module', {:controller => 'courses', :action => 'new'} %> </li>     
          </ul>
        </li>
         
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sessions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'List all Sessions', {:controller => 'sessions', :action => 'index'} %></li>
            <li><%= link_to 'Create a new Session', {:controller => 'sessions', :action => 'new'} %> </li>     
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="font-size: 14px; color: yellow">Manage Attendance</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Record Attendance', {:controller => 'pages', :action => 'chooseModule', id: "attendance"} %></li>
            <li><%= link_to 'View Attendance', {:controller => 'pages', :action => 'chooseModule', id: "attendance"} %> </li> 
            <li><%= link_to 'Upload via CSV', {:controller => 'attendscsvs', :action => 'attends_upload', id: "attendance"} %> </li>     
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>
  <div class="logo">
  <%= image_tag("logo.jpg")%></div>

	<main>
		<%= yield %>
	</main>
</body>
</html>
