<p id="notice"><%= notice %></p>

<p>
  <strong>Module:</strong>
  <%= @enrolment.module_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrolment.student_id %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
