<p id="notice"><%= notice %></p>

<p>
  <strong>Module Id:</strong>
  <%= @course.module_id %>
</p>

<p>
  <strong>Module name:</strong>
  <%= @course.module_name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
