<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attend.student_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @attend.session_id %>
</p>

<%= link_to 'Edit', edit_attend_path(@attend) %> |
<%= link_to 'Back', attends_path %>
