<div align="center">
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :module_id %><br>
    <h4>Module_ID</h4>
    <%= f.text_field :module_id %>
  </div>
  <div class="field">
    <%= f.label :module_name %><br>
    <%= f.text_field :module_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
